<!DOCTYPE html>
<html>
<head>
  <title>アラサーのつぶやき</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li><%= link_to 'トップページ', posts_path %></li>
      <li><%= link_to 'アラサーの名言集', 'https://4meee.com/articles/view/904172' %></li>
      <li><%= link_to 'つぶやく', new_post_path %></li>
    </ul>
  </header>
  <%= yield %>
  <footer>
    <p>運営会社アラサー株式会社</p>
    <p>© 2020 AROUND_THIRTY</p>
  </footer>
</body>
</html>
